<!DOCTYPE html>
<html lang="cs">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{ifset title}{include title|striptags} | {/ifset}DevRun</title>

	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<meta name="description" content="{$description|striptags}" n:ifset="$description"/>
	<meta name="robots" content="{$robots}" n:ifset="$robots"/>
	<meta content="{$webLocale}" http-equiv="Content-language" n:ifset="$webLocale">
	<meta content="{$keywords}" name="keywords" n:ifset="$keywords">
	<meta content="Etnetera a.s." name="author">
	<link rel="shortcut icon" href="{$basePath}/favicon2.png">

	{*================== BEGIN BASE CSS STYLE ==================*}
	{if $production && true == false}
		<link rel="stylesheet" type="text/css" media="screen" href="{$basePath}/css/cms-login.min.css?rel=1535920024504">
	{else}
		{*<!-- build:css {$basePath}/css/cms-login.min.css -->*}
		<link rel="stylesheet" type="text/css" media="screen" href="{$basePath}/resources/cmsModule/bootstrap/dist/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" media="screen" href="{$basePath}/resources/cmsModule/adminlte3/dist/css/adminlte.css">
		<link rel="stylesheet" type="text/css" media="screen" href="{$basePath}/resources/cmsModule/adminlte3/plugins/icheck-bootstrap/icheck-bootstrap.css">
		<link rel="stylesheet" type="text/css" media="screen" href="{$basePath}/resources/cmsModule/jquery-toast-plugin/dist/jquery.toast.min.css">
		<link rel="stylesheet" type="text/css" media="screen" href="{$basePath}/resources/cmsModule/cms/cms.css">
		{*<!-- endbuild -->*}
	{/if}
	<link rel="stylesheet" type="text/css" media="screen" href="{$basePath}/resources/cmsModule/adminlte3/plugins/fontawesome-free/css/all.min.css">
	{*================== END BASE CSS STYLE ==================*}

	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700">
</head>

<body class="login-page">
	<div class="login-box">
		<div class="login-logo">
			<a n:href="this">Developer RUN <b>{$website->name}</b></a>
		</div>

		<div class="card">
			<div class="card-body login-card-body">
				{include content}
			</div>
		</div>
	</div>

	{block scripts}
		{*================== BEGIN BASE JS ==================*}
		{if $production && true == false}
			<script type="application/javascript" src="{$basePath}/js/cms-login.min.js?rel=1535920024500"></script>
			{*<script type="application/javascript" src="{$basePath}/js/cms-index.min.js?rel=1535920024501"></script>*}
		{else}
			{*<!-- build:js {$basePath}/js/cms-login.min.js -->*}
			<script type="application/javascript" src="{$basePath}/resources/cmsModule/jquery/dist/jquery.min.js"></script>
			<script type="application/javascript" src="{$basePath}/resources/cmsModule/adminlte3/dist/js/adminlte.js"></script>
			<script type="application/javascript" src="{$basePath}/resources/cmsModule/bootstrap/dist/js/bootstrap.min.js"></script>
			<script type="application/javascript" src="{$basePath}/resources/cmsModule/nette.ajax.js/nette.ajax.js"></script>
			<script type="application/javascript" src="{$basePath}/resources/cmsModule/nette-live-form-validation/live-form-validation.js"></script>
			<script type="application/javascript" src="{$basePath}/resources/cmsModule/jquery-toast-plugin/dist/jquery.toast.min.js"></script>
			{*<!-- endbuild -->*}
		{/if}
		{*================== END BASE JS ==================*}

		<script>
			$(document).ready(function () {
				$.nette.init();
			});
		</script>
	{/block}
</body>
</html>
