<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Potvrzení přístupu</title>
	<style>
		body {
			background-color: #f2fbff;
		}
	</style>
</head>
<body>
<p>Dobrý den,</p>
<p>Na stránce <a href="{$url}">{$url}</a> Vám byly zřízeny přístupové údaje.</p>
<p>&nbsp;</p>
<p>
	username: {$username}<br>
	password: {$password}
</p>
</body>
</html>