{snippet flashes}
	<div n:if="$flashes" class="alert alert-{$flashes[0]->type}" role="alert">
		{foreach $flashes as $flash}
			<h4 class="alert-heading">{$flash->type|firstUpper}!</h4>
			<hr>
			<p>{$flash->message}</p>
		{/foreach}
	</div>
{/snippet}
