<script>
    var base_path = {$basePath};
    var dataLayer = dataLayer || []; // Google Tag Manager
    var edit_translate_signal = {$editTranslateSignal};
    var edit_article_signal = {$editArticleSignal};
</script>
