<a href="{img $item->namespace/$item->filename}" data-lightbox="{$item->namespace}" data-title="{$item->description}">
<img n:img="$item->namespace/$item->filename, 30x30, fill" class="attachment-img">
</a>