{block headerTitle}Správa stránek{/block}
{block headerSmallTitle}(stromová struktura){/block}
{block title}{_admin.userPage.title}{/block}
{block content}

<div class="box box-info">
	<div class="box-header with-border">
		<h3 class="box-title">Navigace stránek</h3>

		<div class="box-tools pull-right">
			<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
		</div>
	</div>
	<div class="box-body grido">
		<div class="row">
			<div class="col-md-6">
				{control pageTreeGridControl}
			</div>
			<div class="col-md-6">
				{control pageGridControl}
			</div>
		</div>
	</div>
</div>
