<footer class="main-footer">
	<div class="pull-right hidden-xs">
		<b>Version</b> {$cmsVersion}
	</div>
	<strong>Copyright &copy; 2018 - 2019 <a href="#">DevRun</a>.</strong> All rights reserved.
</footer>
