{* snippet flash => ajaxFlash? *}
{snippet flash}
	{control flashMessageControl}
	{control flashMessageControl:toast}
{/snippet}
<section n:snippet="ajaxContent" class="_content">
	{*<h2 class="text-center text-info">AJAX - LAYOUT</h2>*}
	{include content}
</section>

