<div n:if="$inBox" class="box box-info">
	<div class="box-header with-border">
		<h3 class="box-title">{$title}</h3>
		<div class="box-tools pull-right">
			<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
		</div>
	</div>
	<div class="box-body">
		<div class="grido">
			{control settingsControlGrid}
		</div>
	</div>
</div>
{if !$inBox}
{control settingsControlGrid}
{/if}
