<li class="nav-item dropdown">
	<a href="#" class="nav-link" n:if="$user->loggedIn" data-toggle="dropdown">
		<i class="fas fa-user-tie mr-1"></i>
		<span class="hidden-xs">{$user->identity->firstName} {$user->identity->lastName}</span>
	</a>
	<div n:if="$user->loggedIn" class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
		<!-- User image -->
		<a href="{plink :Cms:Profile:}" class="dropdown-item">
			<div class="media">
				<img n:if="$user->identity->gender" src="{$basePath}/resources/cmsModule/cms/images/admin-man-ico.png" class="img-size-50 mr-3 img-circle" alt="User Image">
				<img n:if="!$user->identity->gender" src="{$basePath}/resources/cmsModule/cms/images/admin-woman-ico.png" class="img-size-50 mr-3 img-circle" alt="User Image">
				<div class="media-body">
					<h3 class="dropdown-item-title">
						{$user->identity->firstName} {$user->identity->lastName}
						<span n:ifset="$item['secondaryIcon']" class="float-right text-sm text-danger"><i class="{$item['secondaryIcon']}"></i></span>
					</h3>
					<p class="text-sm">Web {if $user->isInRole(admin)} Admin{elseif $user->isInRole(supervisor)} Developer{else} Member{/if}</p>
					<p class="text-sm text-muted"><i class="far fa-clock mr-1"></i>Member since {$user->identity->inserted|date:"j. n. Y"}</p>
				</div>
			</div>
		</a>
		<div class="dropdown-divider"></div>
		<a href="{plink logout!}" class="dropdown-item">
			<i class="fas fa-user mr-2"></i> {_admin.sign_out}
			<span class="float-right text-muted text-sm">lockdown</span>
		</a>
	</div>
</li>
