{block headerTitle}Správa modulů{/block}
{block headerSmallTitle}vývojář...{/block}

{block content}

<div class="page-header">
	<a class="btn btn-default btn-md" n:href="routes">Routy</a>
</div>

<div class="grido">
	{control modulesGridControl}
</div>
