<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Potvrzení nového přístupu</title>
	<style>
		body {
			background-color: #f2fbff;
		}
	</style>
</head>
<body>
<p>Dobrý den,</p>
<p>Na stránce <a href="{$url}">{$url}</a> Vám bylo zřízeno nové přihlašovací heslo.</p>
<p>Klikněte prosím pro jeho potvrzení <a href="{$link}">sem</a><br>
	Stále se můžete přihlásit svým původním heslem, dokud neproběhne aktivace hesla nového.
</p>
</body>
</html>